<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Video Speed Up</title>
</head>

<body>
    <div class="vsp-container vsp-popup">
        <div class="header">
            <div class="logo">
                <img src="../images/v_32px.png" />
                <span>Video Speed Up</span>
            </div>
            <div class="menus"></div>
        </div>
        <div class="content">
            <ul class="speed-rate-options">
                <li value="0.5">0.5</li>
                <li value="1.0" class="active">1.0</li>
                <li value="1.5">1.5</li>
                <li value="2.0">2.0</li>
                <li value="2.5">2.5</li>
                <li value="3.0">3.0</li>
            </ul>
        </div>
    </div>
    <script src="../js/popup.js"></script>
</body>

</html>